# ==================================================
# PYTHON
# ==================================================

__pycache__/
*.py[cod]
*$py.class

# ==================================================
# VENV
# ==================================================

venv/
.env/

# ==================================================
# CACHE
# ==================================================

.pytest_cache/
.mypy_cache/

# ==================================================
# STREAMLIT
# ==================================================

.streamlit/

# ==================================================
# JUPYTER
# ==================================================

.ipynb_checkpoints/

# ==================================================
# LOGS
# ==================================================

*.log
data/logs/

# ==================================================
# AUTH
# ==================================================

data/auth/

# ==================================================
# TEMP PARQUET FILES
# ==================================================

data/parquet/sales/*.parquet

# ==================================================
# TEMP INCREMENTAL FILES
# ==================================================

data/raw/incremental/

# ==================================================
# PYTHON CACHE
# ==================================================

**/__pycache__/

# ==================================================
# OS
# ==================================================

.DS_Store
Thumbs.db